#fn{
    width: 210px;
}
#ln{
    margin-left: 10px;
    width: 210px;
}
#email{
    width:440px;
}
.fn{
    padding-right: 150px;
}

input{
    background-color: rgb(193, 194, 240);
    border-color: gainsboro;
    border-radius: 5px;
    height: 25px;
}
img{
    padding-left: 130px;
    width: 150px;
    height: 150px;
}
.checkbox{
    margin-top: 20px;
    height: 20px;
    width: 20px;
}
.col2{
    padding-left: 50px;
}
#warm{
    margin-left:80px;
}
#check3{
    margin-left: 130px;
}
.checked {
    color: rgb(230, 190, 114);
}
.box{
    padding-left: 50px;
}
button{
    width:500px;
    height: 50px;
    border-radius: 5px;
    border-color: orangered;
    color: white;
    background-color: orangered;
}